html {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
    font-size: 16px;
    color:white;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

nav {
      width: 100vw;
    height: 80px;
    top: 0;
    left: 0;
    background-color: black;
    border-bottom: 1px solid rgb(31, 31, 31);
    font-family: 'monoton';
    font-size: 2rem;
   }
   nav p{
    padding: 20px;
    margin: 0px;
   }

body {
    margin: 0;
    background-image: url('images/cinema-background-csjrmkuhfvvumb2q.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 1050px;
}

.container {
     box-shadow: inset 124px -3px 177px 77px rgba(0,0,0,0.89);   
    /*  background-image: url('./images/jeremy-yap-J39X2xX_8CQ-unsplash (1) (2).jpg');
    background-size: 1900px 1050px;
    background-repeat: no-repeat; */
    flex-direction: column;
    display: flex;
    width: 100vw;
    height: 950px;
    align-items:flex-end;
}



/* .coming-soon {
    flex-grow: 1;
    display: flex;
    border: 3px solid gold;
}
 */
 body{
    overflow-x: hidden;
 }
 .movies-list {
    position: relative;
    right: 100px;
    width: 700px;
    height: 600px;
    overflow-x: hidden;
    overflow-y: scroll;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    margin-right: 40px;
    direction: rtl;
    

}
 .description,
.movie1,
.movie2,
.movie3,
.movie4,
.movie5,
.movie6,
.movie7 {
    width: 700px;
    margin-bottom: 100px;
    height: 450px;
    flex-shrink: 0;
/*     box-shadow: 15px -26px 27px -4px rgba(0,0,0,0.75);   
 */}
.description{
    position: sticky;
    top:5px ;
    left: 10px;
    right: 33px;
    margin:0;
    height: 100px;

}
   .movie1{
    margin-top: 40px;
   } 

footer {
    background: rgb(18,22,25);

    background-repeat: no-repeat;
    width: 100vw;
    height: 350px;
    border-top: 0.5px solid rgb(58, 58, 58);
}
img{
    opacity: none;
    width: 55%;
    height: 470px;
    float: right;

}
::-webkit-scrollbar {
    width: 12px;
   
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0 ); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background:rgba(255, 255, 255, 0) ;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background:  rgb(190, 201, 209); 
    direction: ltr;}

.info{
    direction: ltr;
    padding: 15px;

}
.title{
    margin-top: 5px;
    text-align:center;
    font-size: 2rem;
    color:rgb(18,22,25);
    font-weight: 700;
    margin-bottom: 0px;
   
    
    
}

 .content p{  
    color: rgb(18,22,25);    
    font-weight: 500;
    font-size:1.3rem;
    border-bottom:1px dashed rgb(18,22,25);
   

}

button{
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    border: none;
    font-size: 0.9rem;
    background-color: rgb(18,22,25);
    color: rgb(169, 169, 169);
    margin-left: 20px;
}
button:hover{
    background-color: white ;
    color: green;
}
.star-icon{
    width: auto;
    height: 20px;
    margin: 25px 7px 0px 5px;
    vertical-align: baseline;
    
}
.head{
    border-bottom: 2px outset rgb(18,22,25); 
    display: flex;
    padding: 15px 15px 5px 10px;

}
.rating{
    flex-grow: 1;
    margin-bottom: 0px;
    margin-top: 25px;
    justify-content: end;
    color: rgb(18,22,25); 
    

}